.card-portfolio{
    animation: floating 10s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10px) rotateZ(3deg);
    }
    100% {
        transform: translate(0, 0);
    }
}